.App {
  
  margin: 0;
  text-align: center;
  min-height: 100vh;
  max-width: 100vw;
  text-align: center;
  background-image:url(./cont/minecraft-1.gif);
  background-repeat:no-repeat;
  /*background-position: 50% 50%;*/
  background-attachment: fixed;
  background-position: 1% 100%;
  background-size: cover;
  
}

@font-face {
  font-family: "Minecraftia Regular";
  src: url("../Minecraftia-Regular.ttf")
}
@font-face {
  font-family: "Minecraft Evenings";
  src: url("../Minecraft Evenings.ttf")
}
@font-face {
  font-family: "MINECRAFT PE";
  src: url("../MINECRAFT PE.ttf")
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
